body {
	background-color:#4a829f;
}

section {
	background-color: #fcf3cf ;
}

h1 {
	 font-style : italic;
	 color : red ;
}

h3 {
	text-align : center;
	width : 400px;
	margin : auto;
	border-style : solid;
	border-width : 3px;
	border-color : black;
}

p {
	background-color: #fbff00 ;
	margin-left : 20px;
	line-height : 1.3em;
}

#titre_2 {
		text-align : right;
		width : 300px;
}

#par_1 {
		width : 100px ;
		color : blue ;
	}
	
#par_2 {
		width : 150px ;
		color : red ;
	}

.par_class {
			margin-left : 50px ;
			border: 2px solid red;
}
